<!-- Screen 1 (For Displaying initial Questions)-->
<div *ngIf="screen == 1" class="container">
  <div class="heading">
    
  <h1>20 Quiz</h1> </div>

  <button (click)="this.changeScreen(2)" class="btn-start">Start Quiz</button>
</div>
<!-- Screen 2 (For displaying Quiz Questions) -->
<div *ngIf="screen == 2" class="container">
  <h1 class="heading">Quiz</h1>
  <app-quiz (endQuiz)="endQuiz()"></app-quiz>
</div>

<!-- Screen 3 (For displaying Quiz Result) -->
<div *ngIf="screen == 3" class="container">
  <h1 class="heading">Result</h1>
 <app-result (restartQuiz) ="restartQuiz()"></app-result>
</div>

<footer>
</footer>
